Source: php-gnupg
Section: web
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Origanal-Maintainer: Matt Arnold <mattarnold5@gmail.com>
Vcs-Git: git://github.com/marnold/php-gnupg-ubuntu.git
Vcs-Browser: http://github.com/marnold/php-gnupg-ubuntu/tree/master
Build-Depends: debhelper (>= 5), php5-dev, gawk, libgpgme11-dev, re2c, chrpath  
Standards-Version: 3.8.0


Package: php5-gnupg
Architecture: any
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}, libgpgme11
Suggests: php-doc
Description: gnupg module for PHP 5
 This PECL extension provides wrapper functions that interact 
 with the Gpg Made Easy Library. For Documentation see the PHP manual
 
 


